body{
  text-align: center;
  margin-top: 3%;
  padding: 5px;
  background-color: #5E9BA7;
}

 /* #center{
  padding-top: 20px;
  margin-top: 5%;
} */
#user1{
  color: white;
  background-color: #AAB7B8 ;
  padding: 10px;
  border-radius: 15%;
}
#user2{
color: white;
background-color: #707B7C  ;
padding: 10px;
border-radius: 15%;
}
.cscore{
  color: #BB8FCE  ;
}
.score{
  color:#F1C40F;
}
