body{
  text-align: center;
  margin-top: 3%;
  padding: 5px;
  background-color: #7ec0ee;
}
.cscore{
  color: blue;
}
.score{
  color: red;
}
#center{
  padding-top: 20px;
  margin-top: 5%;
}
#user1{
  color: white;
  background-color: #3FBF7F;
  padding: 10px;
  border-radius: 15%;
}
#user2{
color: white;
background-color: #E3D516;
padding: 10px;
border-radius: 15%;
}
